<div class="container">
    <div class="row profile-header">
        <h3>Edit my profile</h3>
    </div>
        <hr>
        <div class="row">
            <div class="col s12 m3 outline-me">
                <img class="circle responsive-img" src="{{data.image_url}}" alt="">
                <button class="btn blue" type="submit" name="change_photo">Change Photo</button>
                <form class="" action="{{data.id}}/delete" method="post">
                  <button class="btn red" type="submit" name="submit">Delete Account</button>
                </form>
            </div>
            <div class="col s12 m9">
                <form class="user-info" action="" method="post">
                    <div class="input-field col s6">
                      <label for="first_name">First Name</label>
                      <input value="{{data.first_name}}" name="first_name" id="first_name" type="text">
                    </div>
                    <div class="input-field col s6">
                      <label for="last_name">Last Name</label>
                      <input value="{{data.last_name}}" name="last_name" id="last_name" type="text">
                    </div>
                    <div class="input-field col s12">
                      <label for="email">E-mail Address</label>
                      <input value="{{data.email}}" name="email" id="email" type="text">
                    </div>
                    <div class="col s6 center hidden">Update Password
                        <div class="input-field col s12">
                            <input placeholder= "Old Password" value="" id="current_password" type="password">
                        </div>
                        <div class="input-field col s12">
                          <input placeholder= "New Password" value="" id="new_password" type="password">
                        </div>
                        <div class="input-field col s12">
                            <input placeholder= "Retype New Password" value="" id="retype_new_password" type="password">
                        </div>
                    </div>
                    <button class="btn red" type="reset" name="cancel">Cancel</button>
                    <button class="btn green" type="submit" name="submit">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
