<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://use.fontawesome.com/00eee0672f.js"></script>
</head>

<body>
    <header>
        <nav class="grey darken-1">
                <div class="nav-wrapper row container">
                    <div class="col s12 m6">
                        <i class="fa fa-book fa-3x" aria-hidden="true"></i>
                        <a href="#" class="brand-logo">Little Black Book</a>
                    </div>
                    <div class="col s12 m4 right-nav">
                        <!-- <form class="login_info valign-wrapper" action="/login" method="post">
                            <div class="input-field col s6 m4 valign">
                                <label for="email">Email</label>
                                <input name="email" id="user_email" type="email" class="validate valign" required>
                            </div>
                            <div class="input-field col s6 m4 pass-field">
                                <label for="password">Password</label>
                                <input name="password" id="password" type="password" class="validate" required>
                            </div>

                            <div class="col s4">
                                <button type="submit" class=" blue lighten-2 btn">Login</button>
                            </div>
                        </form> -->
                        <ul>
                          <li>Admin Panel</li>
                        </ul>
                    </div>
                </div>
        </nav>
    </header>
    <main>
        <div class="container">
                    <h3>Current Users</h3>
                      <table>
                        <thead>
                          <tr>
                            <th data-field='id'>ID</th>
                            <th data-field='first_name'>First Name</th>
                            <th data-field='last_name'>Last Name</th>
                            <th data-field='id'>Email</th>
                            <th data-field='password'>Password</th>
                          </tr>
                        </thead>
                        <tbody>
                    {{#each data}}
                    <tr>
                      <td>{{this.id}}</td>
                      <td>{{this.first_name}}</td>
                      <td>{{this.last_name}}</td>
                      <td>{{this.email}}</td>
                      <td>{{this.password}}</td>
                      <td><a href='profile/{{this.id}}/edit'>Edit</a></td>
                      <td><a href='profile/{{this.id}}/delete'>Delete</a></td>
                      </tr>
                    {{/each}}
                    </tbody>
                  </table>
                </div>
    </main>
    <footer>

    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
</body>

</html>
